.stars {
    display: flex;
    margin: auto;
    padding: 10px;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-back {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-image: url('./img/star-empty.png');
}

.star:hover,
.star:hover ~ .star {
    background-size: contain;
    background-image: url('./img/star.png');
}


/*.div-star {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    !*content: "";*!*/
/*    !*background-image: url('./img/star.png');*!*/

/*    background-repeat: no-repeat;*/
/*}*/
/*.div-star input{*/
/*    display: none;*/
/*}*/
/*.star span{*/
/*    image: url("./images/star.png");*/
/*}*/