.stars {
    display: flex;
    margin: auto;
    padding: 10px;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4px;
}

.stars input {
    display: none;
}

.star {
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-image: url('./img/star-empty.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.star:hover,
.star:hover ~ .star {
    background-image: url('./img/star.png');
}

.stars input:checked + .star,
.stars input:checked + .star ~ .star {
    background-image: url('./img/star.png');
}